body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:67px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:67px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:67px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:19px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:1343px;
  height:19px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:53px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:157px;
  height:53px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:39px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:4px;
  width:30px;
  height:39px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#44A1DA;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:13px;
  width:201px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#44A1DA;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u1992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:67px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:8px;
  width:40px;
  height:40px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:17px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:13px;
  width:61px;
  height:31px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u2004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:136px;
  width:139px;
  height:16px;
  color:#666666;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:164px;
  width:40px;
  height:40px;
  color:#666666;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:164px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:164px;
  width:40px;
  height:40px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:184px;
  width:118px;
  height:1px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:184px;
  width:118px;
  height:1px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:216px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:214px;
  width:57px;
  height:16px;
  color:#0099FF;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:214px;
  width:57px;
  height:16px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:164px;
  width:40px;
  height:40px;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:184px;
  width:118px;
  height:1px;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:214px;
  width:57px;
  height:16px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:184px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:2px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:248px;
  width:1139px;
  height:1px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:293px;
  width:57px;
  height:16px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:289px;
  width:263px;
  height:30px;
}
#u2034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:532px;
  width:57px;
  height:16px;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:532px;
  width:768px;
  height:133px;
}
#u2037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:133px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:370px;
  width:29px;
  height:16px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:452px;
  width:29px;
  height:16px;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:364px;
  width:263px;
  height:31px;
}
#u2042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2042_input:disabled {
  color:grayText;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:445px;
  width:263px;
  height:31px;
}
#u2043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2043_input:disabled {
  color:grayText;
}
#u2044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:293px;
  width:57px;
  height:16px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:334px;
  width:128px;
  height:170px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:124px;
  word-wrap:break-word;
}
#u2046_ann {
  border-width:0px;
  position:absolute;
  left:917px;
  top:330px;
  width:1px;
  height:1px;
}
#u2048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:285px;
  width:128px;
  height:33px;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u2048_ann {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:281px;
  width:1px;
  height:1px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:293px;
  width:143px;
  height:16px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2050_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:293px;
  width:57px;
  height:16px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:1389px;
  top:334px;
  width:128px;
  height:170px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:124px;
  word-wrap:break-word;
}
#u2056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:1553px;
  top:284px;
  width:128px;
  height:33px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:293px;
  width:143px;
  height:16px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2058_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:171px;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:1553px;
  top:334px;
  width:128px;
  height:170px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:404px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2062_ann {
  border-width:0px;
  position:absolute;
  left:868px;
  top:400px;
  width:1px;
  height:1px;
}
#u2064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:1602px;
  top:404px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2064_ann {
  border-width:0px;
  position:absolute;
  left:1625px;
  top:400px;
  width:1px;
  height:1px;
}
#u2066_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:386px;
  width:200px;
  height:5px;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:707px;
  width:140px;
  height:40px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2068_ann {
  border-width:0px;
  position:absolute;
  left:865px;
  top:703px;
  width:1px;
  height:1px;
}
#u2070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:707px;
  width:140px;
  height:40px;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2070_ann {
  border-width:0px;
  position:absolute;
  left:638px;
  top:703px;
  width:1px;
  height:1px;
}
