body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1343px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:67px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:67px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:67px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:19px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:1343px;
  height:19px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:53px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:157px;
  height:53px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:39px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:4px;
  width:30px;
  height:39px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#44A1DA;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:13px;
  width:201px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#44A1DA;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:67px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:8px;
  width:40px;
  height:40px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:17px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:13px;
  width:61px;
  height:31px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:136px;
  width:139px;
  height:16px;
  color:#666666;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:164px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:164px;
  width:40px;
  height:40px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:164px;
  width:40px;
  height:40px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:184px;
  width:118px;
  height:1px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:184px;
  width:118px;
  height:1px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5494EE;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:216px;
  width:57px;
  height:16px;
  color:#5494EE;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:214px;
  width:57px;
  height:16px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:214px;
  width:57px;
  height:16px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:164px;
  width:40px;
  height:40px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:184px;
  width:118px;
  height:1px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:214px;
  width:57px;
  height:16px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:184px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:2px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:248px;
  width:1139px;
  height:1px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:276px;
  width:128px;
  height:51px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:124px;
  word-wrap:break-word;
}
#u1888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:276px;
  width:861px;
  height:51px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:294px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:294px;
  width:29px;
  height:16px;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:294px;
  width:29px;
  height:16px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:294px;
  width:29px;
  height:16px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:294px;
  width:29px;
  height:16px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:364px;
  width:136px;
  height:170px;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_ann {
  border-width:0px;
  position:absolute;
  left:325px;
  top:360px;
  width:1px;
  height:1px;
}
#u1902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:364px;
  width:136px;
  height:170px;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:364px;
  width:136px;
  height:170px;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:364px;
  width:136px;
  height:170px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:364px;
  width:136px;
  height:170px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:560px;
  width:57px;
  height:16px;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:560px;
  width:113px;
  height:16px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:560px;
  width:85px;
  height:16px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:560px;
  width:85px;
  height:16px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:560px;
  width:113px;
  height:16px;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:620px;
  width:136px;
  height:170px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:620px;
  width:136px;
  height:170px;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:620px;
  width:136px;
  height:170px;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:620px;
  width:136px;
  height:170px;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:620px;
  width:136px;
  height:170px;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:816px;
  width:57px;
  height:16px;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:816px;
  width:113px;
  height:16px;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:816px;
  width:85px;
  height:16px;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:816px;
  width:85px;
  height:16px;
}
#u1937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:816px;
  width:113px;
  height:16px;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:56px;
}
#u1940 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:890px;
  width:457px;
  height:56px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:294px;
  width:29px;
  height:16px;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
